body {
    width: 100vw;
    height: 100vh;

    display: grid;
    justify-content: center;
    align-content: center;
}

.mobile-phone {
    width: 390px;
    height: 500px;

    border: 1px solid black;
    border-radius: 5px;
}

.menu {
    padding: 10px;
    
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
}